:root {
    --blanc: #F7F7F7;
    --blanc-2: #EDEDED;
    --mauve: #DFC8F5;
    --violet: #9148DC;
    --rouge: #e76060;
    --rouge-pale: #F9C7C7;
    --vert: #87DB54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/* Height - Width*/
.cardContainer, #popup {
    height: 100%;
    width: 100%;
}

/* Flex */
.card, .cardContainer, #container, .info, .info div, .delete, .see, .tasks, .add, .option  {
    display: flex;
}

.card, .info, .info div, .tasks {
    flex-direction: column;
}

#container, .info, .tasks {
    justify-content: space-evenly;
}

/* Container */
#container {
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    padding: 25px;
}

.card {
    width: 400px;
    height: 350px;
}

.title {
    text-align: center;
}

.info {
    border-radius: 0 0 0 25px;
    width: 30%;
}

.info div, .tasks {
    text-align: center;
}

.tasks {
    border-radius: 0 0 25px 0;
    width: 70%;
}

.tasks div {
    margin: 10px 10px ;
}

.cardContainer {
    flex-direction: row;
}

.option {
    flex-direction: row;
}

.delete, .see, .add {
    font-size: 24px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.delete {
    position: relative;
    top: 100px;
    left: -60px;
}

.see, .add {
    margin-left: 15px;
    margin-bottom: 10px;
}

.green {
    font-size: 40px;
}

.newTaskOption {
    display: none;
}

#popup {
    display: none;
    z-index: 2;
    background: #f7f7f7;
    position: absolute;
    top: 0;
}

/* Colors */
.green, .inactive {
    color: var(--vert);
}

.active, .delete {
    color: var(--rouge);
}

.delete:hover {
    color: var(--rouge-pale);
}

.see:hover, .add:hover {
    color: var(--mauve);
}

.see, .add {
    color: var(--violet);
}

/* Background */
.info {
    background: var(--blanc-2);
}

#popup, .tasks {
    background: var(--blanc);
}

.delete {
    background: var(--rouge-pale);
}

.delete:hover {
    background: var(--rouge);
}

.see, .add {
    background: var(--mauve);
}

.see:hover, .add:hover, .title {
    background: var(--violet);
}

.info, .tasks {
    border: solid 4px var(--violet);
}

#newCard {
    position: absolute;
    top: 0;
    right: 0;
}

/* Cursor */
.delete:hover, .see:hover, .add:hover, .inactive:hover, .active:hover {
    cursor: pointer;
}