:root {
    --blanc: #F7F7F7;
    --blanc-2: #EDEDED;
    --mauve: #DFC8F5;
    --violet: #BF8FEE;
    --rouge: #e76060;
    --rouge-pale: #F9C7C7;
    --vert: #87DB54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/* Font */
#container, h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 36px;
}

/* Height - Width*/
.cardContainer, #popup {
    height: 100%;
    width: 100%;
}

#popupContent .tasks, #popupContent .oneTask {
    width: 100%;
}

/* Flex */
.card, .cardContainer, #container, .info, .info div, .delete, .see, .tasks, .add, .option, #popupContent div div, #popupContent div, #popupContent .oneTask {
    display: flex;
}

.card, .info, .info div, .tasks, #newCard, #popupContent div div {
    flex-direction: column;
}

.cardContainer, .option, #popupContent div, #popupContent .oneTask {
    flex-direction: row;
}

#container, .info, .tasks, .popupInfo, .popupTask, #popupContent .oneTask {
    justify-content: space-evenly;
}

.title, .popupInfo, .info div, .tasks {
    text-align: center;
}

.popupInfo, .delete, .see, .add, #popupContent .tasks {
    align-items: center;
}

/* Container */
#container {
    flex-wrap: wrap;
    padding: 25px;
}

.card {
    width: 400px;
    height: 350px;
}

.info {
    border-radius: 0 0 0 25px;
    width: 30%;
}

.tasks {
    overflow-y: auto;
    border-radius: 0 0 25px 0;
    width: 70%;
}

.tasks div {
    margin: 10px 10px ;
}

.delete, .see, .add {
    font-size: 24px;
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 25px;
}

.delete {
    position: relative;
    top: 100px;
    left: -60px;
}

.see, .add {
    margin-left: 15px;
    margin-bottom: 10px;
}

.green {
    font-size: 40px;
}

.newTaskOption {
    display: none;
}

#popup {
    display: none;
    z-index: 2;
    background: #f7f7f7;
    position: absolute;
    top: 0;
}

#newCard {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

button {
    border: unset;
}

button, input {
    padding: 5px 10px;
}

#popupContent {
    font-size: 1.3rem;
}

.popupInfo {
    width: 20%;
}

.popupTask {
    width: 80%;
}

.popupTask .tasks {
    min-height: 500px;
}

/* Colors */
.green, .inactive {
    color: var(--vert);
}

.active, .delete, .red {
    color: var(--rouge);
}

.delete:hover, .red:hover {
    color: var(--rouge-pale);
}

.see:hover, .add:hover, .mauve:hover {
    color: var(--mauve);
}

.see, .add, .mauve {
    color: var(--violet);
}

/* Background */
.info {
    background: var(--blanc-2);
}

#popup, .tasks {
    background: var(--blanc);
}

.delete, .red {
    background: var(--rouge-pale);
}

.delete:hover, .red:hover {
    background: var(--rouge);
}

.see, .add, .mauve {
    background: var(--mauve);
}

.see:hover, .add:hover, .title, .mauve:hover {
    background: var(--violet);
}

.info, .tasks {
    border: solid 4px var(--violet);
}

/* Cursor */
button, input, .delete:hover, .see:hover, .add:hover, .inactive:hover, .active:hover {
    cursor: pointer;
}